@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  padding-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.topnav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
}
.topnav__links .burger {
  display: none;
}
.topnav__links .hover-yes {
  color: #ffffff;
  padding-bottom: 3px;
}
.topnav__links .hover-yes:hover:after {
  content: "";
  display: block;
  -webkit-animation-name: s;
          animation-name: s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin: 0 auto;
  padding-top: 2px;
  border-bottom: 1px solid #ffffff;
}

@-webkit-keyframes s {
  0% {
    width: 55%;
  }
  100% {
    width: 100%;
  }
}

@keyframes s {
  0% {
    width: 55%;
  }
  100% {
    width: 100%;
  }
}
/* .topnav__links {

	display: flex;
	justify-content: space-between;
	align-items: center ;

	@include block(14px,400,$c1,$ffgil);

	a {
		color: $c1;
		padding-bottom: 3px;
		position: relative;

		&:hover {
			border-bottom: 1px solid $c1;
		} 
	}
} */
.baner__bg {
  width: 100%;
  min-height: 100vh;
  background: url("../images/bgc.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.baner__h1 {
  padding-top: 600px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Noto Serif", serif;
}

.baner__button {
  margin-top: 50px;
  text-align: center;
}

.baner-btn {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333333;
  border: 1px solid #fff;
  padding: 15px 35px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.baner-btn:hover {
  font-size: 20px;
}

.line__baner {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  margin-top: 80px;
}

.baner__img-down {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.baner__img-down img {
  border-right: 1px solid #ffffff;
  padding-right: 15px;
}
.baner__img-down img:last-child {
  border: 0;
  padding-right: 0;
}

.page1__text-part {
  margin-top: 100px;
  text-align: center;
}

.page1__bio {
  font-size: 21px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  margin-bottom: 15px;
}

.page1__title {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  font-family: "Noto Serif", serif;
}

.page1__button-block {
  /* padding: 100px; */
  margin-top: 60px;
}
.page1__button-block p {
  margin-top: 30px;
}
.page1__button-block .page1-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page1__button-block .page1-button button {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  width: 165px;
  height: 55px;
  border: 1px solid #D6D6D6;
  background: none;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 6px 0 #D6D6D6;
          box-shadow: 6px 6px 0 #D6D6D6;
  position: relative;
  padding: 15px 15px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  letter-spacing: 0.1em;
}
.page1__button-block .page1-button button:hover {
  color: #ffffff;
  background: #333333;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.page1__button-block .page1-button button:active {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  top: 3px;
  -webkit-box-shadow: 1px 1px 0 #D6D6D6;
          box-shadow: 1px 1px 0 #D6D6D6;
}

.galary {
  margin-top: 60px;
  text-align: center;
}
.galary img {
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.galary img:hover {
  opacity: 0.6;
}
.galary .galary__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.galary .galary__row1 .textcardp1 {
  position: relative;
}
.galary .galary__row1 .textcardp1 h3 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  position: absolute;
  z-index: 2;
  top: 225px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
}
.galary .galary__row1 .textcardp2 {
  position: relative;
}
.galary .galary__row1 .textcardp2 .galary__text-block {
  max-width: 155px;
}
.galary .galary__row1 .textcardp2 .galary__text-block h3 {
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  position: absolute;
  z-index: 2;
  top: 250px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  line-height: 140%;
}
.galary .galary__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galary .galary__row2 .textcardp1 {
  position: relative;
}
.galary .galary__row2 h3 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  top: 225px;
  left: 0;
  width: 100%;
}

.container_p2 {
  max-width: 730px;
  margin: 0 auto;
}

.page2 {
  margin-top: 120px;
  background: url("../images/blackbg.jpg");
}

.page2__block {
  padding-top: 100px;
  text-align: center;
  color: #ffffff;
}

.page2__bio {
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  padding-bottom: 15px;
}

.page2__title {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Noto Serif", serif;
  padding-bottom: 45px;
}

.page2__discription {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  padding-bottom: 60px;
  line-height: 140%;
}

.page2__button {
  padding-bottom: 100px;
}
.page2__button button {
  width: 225px;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  letter-spacing: 0.1em;
  background: #ffffff;
  border: 1px solid #333333;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  position: relative;
}
.page2__button button:hover {
  color: #ffffff;
  background: #333333;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.page2__button button:active {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  top: 4px;
}

.page3 {
  margin-top: 120px;
  text-align: center;
}

.page3__bio {
  font-size: 21px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  margin-bottom: 15px;
}

.page3__title {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  font-family: "Noto Serif", serif;
}

.page3__button {
  margin-top: 60px;
}
.page3__button button {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  width: 255px;
  height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333333;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.page3__button button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 0 10px #333333;
          box-shadow: 0 0 10px #333333;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.page3__button button:active {
  top: 3px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.page4 {
  margin-top: 120px;
  text-align: center;
}

.page4__bio {
  font-size: 21px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  margin-bottom: 15px;
}

.page4__title {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  font-family: "Noto Serif", serif;
}

.grid__galary {
  margin-top: 60px;
}

.grid__galary-mobile {
  display: none;
}

.galaryp4 .grid-columns1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
  grid-template-columns: 50% 25% 25%;
}
.galaryp4 .grid-columns2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 50%;
  grid-template-columns: 25% 25% 50%;
}
.galaryp4 img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.galaryp4 img:hover {
  opacity: 0.7;
}
.galaryp4 .video_grid:hover {
  cursor: pointer;
}

.container_p5 {
  max-width: 780px;
  padding: 0 15px;
  margin: 0 auto;
}

.page5 {
  margin-top: 150px;
  background: url("../images/blackbg.jpg");
}

.page5__text-stage {
  text-align: center;
  padding-top: 100px;
}

.page5__bio {
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  margin-bottom: 15px;
}

.page5__title {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Noto Serif", serif;
  margin-bottom: 60px;
}

.page5__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
}

.page5__block-left li {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  margin-bottom: 15px;
  background: url("../images/list.png") no-repeat;
  padding-left: 25px;
}
.page5__block-left li:last-child {
  margin-bottom: 0;
}

.wrapper_form__block {
  padding: 15px;
  border: 1px solid #ffffff;
}

.form__block {
  background: #ffffff;
}
.form__block form {
  padding: 20px 22px;
}
.form__block button {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  background: #333333;
  width: 160px;
  height: 45px;
  margin-left: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.form__block button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 0 10px #333333;
          box-shadow: 0 0 10px #333333;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.form__block button:active {
  top: 3px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.email {
  font-size: 14px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.5);
  font-family: "Gilroy-Regular", sans-serif;
  width: 200px;
  height: 45px;
  padding-left: 20px;
  letter-spacing: 0.1em;
  border: 1px solid #D6D6D6;
}
.email:focus {
  -webkit-box-shadow: 1px 1px 20px #333333;
          box-shadow: 1px 1px 20px #333333;
}

.footer__blocks {
  margin-top: 80px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__blocks .line {
  border-bottom: 1px solid #333333;
  width: 255px;
  margin-bottom: 30px;
}
.footer__blocks h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
.footer__blocks .links {
  max-width: 255px;
}
.footer__blocks li {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  padding-bottom: 15px;
}
.footer__blocks li a {
  color: #333333;
}
.footer__blocks li:last-child {
  padding-bottom: 0;
}
.footer__blocks .pay {
  max-width: 255px;
}
.footer__blocks .pay p {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  line-height: 150%;
}
.footer__blocks .pay .pay_images {
  margin-top: 20px;
}
.footer__blocks .pay .visa {
  margin-right: 20px;
}
.footer__blocks .contacts {
  max-width: 255px;
}
.footer__blocks .contacts .info-card {
  margin-top: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__blocks .contacts span {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  margin-left: 20px;
}
.footer__blocks .contacts img {
  margin-bottom: 20px;
}
.footer__blocks .social_webs {
  max-width: 255px;
}
.footer__blocks .social_webs .social_webs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}
.footer__blocks .social_webs p {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  line-height: 150%;
}
.footer__blocks .social_webs img {
  margin-right: 23px;
}

.line_footer {
  border-bottom: 1px solid #333333;
}

.footer__info {
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__info-block .footer__info_section {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
}
.footer__info-block .footer__info_section a {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Gilroy-Regular", sans-serif;
  text-decoration: underline;
}

@media (max-width: 1140px) {
  .container {
    max-width: 970px;
  }

  .baner__img-down {
    display: none;
  }

  .baner__h1 {
    padding-top: 600px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Noto Serif", serif;
  }

  .page1-button button {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    width: 200px;
    height: 20px;
  }

  .baner-btn {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #333333;
    border: 1px solid #fff;
    padding: 15px 35px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .baner-btn:hover {
    font-size: 20px;
  }

  .page1__button-block .page1-button1 {
    display: none;
    font-size: 10px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    width: 130px;
    height: 35px;
    border: 1px solid #D6D6D6;
    background: none;
    text-transform: uppercase;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    position: relative;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    letter-spacing: 0.1em;
  }
  .page1__button-block .page1-button1:hover {
    color: #ffffff;
    background: #333333;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .page1__button-block .page1-button1:active {
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    top: 3px;
    -webkit-box-shadow: 1px 1px 0 #D6D6D6;
            box-shadow: 1px 1px 0 #D6D6D6;
  }

  .galary-block img {
    width: 250px;
    height: 250px;
  }
  .galary-block .galary__row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .galary-block .galary__row1 .textcardp1 {
    position: relative;
  }
  .galary-block .galary__row1 .textcardp1 h3 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
  }
  .galary-block .galary__row1 .textcardp2 {
    position: relative;
  }
  .galary-block .galary__row1 .textcardp2 .galary__text-block {
    max-width: 155px;
  }
  .galary-block .galary__row1 .textcardp2 .galary__text-block h3 {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    line-height: 140%;
  }

  .galary__row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .galary__row2 .textcardp1 {
    position: relative;
  }
  .galary__row2 .textcardp1 h3 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 0;
    width: 100%;
  }

  .grid__galary {
    display: none;
  }

  .grid__galary-mobile {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .galary-mobile .grid-columns-mobile-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .galary-mobile .grid-columns-mobile-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .line {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }

  .topnav__links {
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
  }

  .baner__h1 {
    padding-top: 600px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Noto Serif", serif;
  }

  .page1-button button {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    width: 200px;
    height: 20px;
  }

  .baner-btn {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #333333;
    border: 1px solid #fff;
    padding: 15px 35px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .baner-btn:hover {
    font-size: 20px;
  }

  .page1__button-block .page1-button1 {
    display: none;
    font-size: 10px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    width: 130px;
    height: 35px;
    border: 1px solid #D6D6D6;
    background: none;
    text-transform: uppercase;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    position: relative;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    letter-spacing: 0.1em;
  }
  .page1__button-block .page1-button1:hover {
    color: #ffffff;
    background: #333333;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .page1__button-block .page1-button1:active {
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    top: 3px;
    -webkit-box-shadow: 1px 1px 0 #D6D6D6;
            box-shadow: 1px 1px 0 #D6D6D6;
  }

  .galary-block img {
    width: 220px;
    height: 200px;
  }
  .galary-block .galary__row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .galary-block .galary__row1 .textcardp1 {
    position: relative;
  }
  .galary-block .galary__row1 .textcardp1 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
  }
  .galary-block .galary__row1 .textcardp2 {
    position: relative;
  }
  .galary-block .galary__row1 .textcardp2 .galary__text-block {
    max-width: 155px;
  }
  .galary-block .galary__row1 .textcardp2 .galary__text-block h3 {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    line-height: 140%;
  }

  .galary__row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .galary__row2 .textcardp1 {
    position: relative;
  }
  .galary__row2 .textcardp1 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 0;
    width: 100%;
  }

  .grid__galary {
    display: none;
  }

  .grid__galary-mobile {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .galary-mobile .grid-columns-mobile-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .galary-mobile .grid-columns-mobile-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__blocks {
    margin-top: 80px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__blocks h3 {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
  }
  .footer__blocks .links {
    max-width: 255px;
  }
  .footer__blocks li {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    padding-bottom: 15px;
  }
  .footer__blocks li a {
    color: #333333;
  }
  .footer__blocks li:last-child {
    padding-bottom: 0;
  }
  .footer__blocks .pay {
    display: none;
    max-width: 255px;
  }
  .footer__blocks .pay p {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    line-height: 150%;
  }
  .footer__blocks .pay .pay_images {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__blocks .contacts {
    max-width: 255px;
  }
  .footer__blocks .contacts .info-card {
    margin-top: 3px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__blocks .contacts span {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    margin-left: 5px;
  }
  .footer__blocks .contacts img {
    margin-bottom: 20px;
  }
  .footer__blocks .social_webs {
    max-width: 255px;
  }
  .footer__blocks .social_webs .social_webs__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  .footer__blocks .social_webs p {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    line-height: 150%;
  }
  .footer__blocks .social_webs img {
    margin-right: 20px;
  }

  .line {
    display: none;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .container_p5 {
    max-width: none;
  }

  .topnav__links .hover-yes {
    display: none;
  }
  .topnav__links .hover-no {
    display: none;
  }
  .topnav__links .search {
    display: none;
  }
  .topnav__links .burger {
    color: #ffffff;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .topnav__links {
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
  }

  .baner__h1 {
    padding-top: 600px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Noto Serif", serif;
  }

  .page1-button button {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    width: 200px;
    height: 20px;
  }

  .baner-btn {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #333333;
    border: 1px solid #fff;
    padding: 15px 35px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .baner-btn:hover {
    font-size: 20px;
  }

  .page1__button-block .page1-button1 {
    display: none;
    font-size: 10px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    width: 130px;
    height: 35px;
    border: 1px solid #D6D6D6;
    background: none;
    text-transform: uppercase;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    position: relative;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    letter-spacing: 0.1em;
  }
  .page1__button-block .page1-button1:hover {
    color: #ffffff;
    background: #333333;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .page1__button-block .page1-button1:active {
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    top: 3px;
    -webkit-box-shadow: 1px 1px 0 #D6D6D6;
            box-shadow: 1px 1px 0 #D6D6D6;
  }

  .galary-block img {
    margin-bottom: 15px;
  }
  .galary-block .galary__row1 {
    display: block;
  }
  .galary-block .galary__row1 .textcardp1 {
    position: relative;
  }
  .galary-block .galary__row1 .textcardp1 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
  }
  .galary-block .galary__row1 .textcardp2 {
    position: relative;
  }
  .galary-block .galary__row1 .textcardp2 .galary__text-block {
    max-width: 155px;
  }
  .galary-block .galary__row1 .textcardp2 .galary__text-block h3 {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    line-height: 140%;
  }

  .galary__row2 .ccs {
    display: none;
  }
  .galary__row2 .textcardp1 {
    position: relative;
  }
  .galary__row2 .textcardp1 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 0;
    width: 100%;
  }

  .grid__galary {
    display: none;
  }

  .grid__galary-mobile {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .galary-mobile .grid-columns-mobile-1 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .galary-mobile .video_grid {
    width: 80%;
  }
  .galary-mobile .grid-columns-mobile-2 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page5__block {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page5__block .page5__block-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page5__block .page5__block-left li {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    margin-bottom: 15px;
    background: url("../images/list.png") no-repeat;
    padding-left: 25px;
  }
  .page5__block .page5__block-left li:last-child {
    margin-bottom: 0;
  }
  .page5__block .page5__block-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 5%;
    margin-top: 20px;
    max-width: 250px;
  }
  .page5__block .email {
    margin-bottom: 15px;
  }

  .footer__blocks {
    margin-top: 80px;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__blocks h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
  }
  .footer__blocks .links {
    display: none;
    max-width: 255px;
  }
  .footer__blocks li {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    padding-bottom: 15px;
  }
  .footer__blocks li a {
    color: #333333;
  }
  .footer__blocks li:last-child {
    padding-bottom: 0;
  }
  .footer__blocks .pay {
    display: none;
    max-width: 255px;
  }
  .footer__blocks .pay p {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    line-height: 150%;
  }
  .footer__blocks .pay .pay_images {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__blocks .contacts {
    max-width: 255px;
  }
  .footer__blocks .contacts .info-card {
    margin-top: 3px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__blocks .contacts span {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    margin-left: 5px;
  }
  .footer__blocks .contacts img {
    margin-bottom: 20px;
  }
  .footer__blocks .social_webs {
    max-width: 255px;
  }
  .footer__blocks .social_webs .social_webs__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  .footer__blocks .social_webs p {
    display: none;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    font-family: "Gilroy-Regular", sans-serif;
    line-height: 150%;
  }
  .footer__blocks .social_webs img {
    margin-right: 10px;
  }

  .page2__bio {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    padding-bottom: 15px;
  }

  .page2__title {
    padding: 0 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Noto Serif", serif;
    padding-bottom: 45px;
  }

  .page2__discription {
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    padding-bottom: 60px;
    line-height: 140%;
  }

  .figma {
    display: none;
  }

  .line {
    display: none;
  }
}
@media (max-width: 407px) {
  .contr {
    display: none;
  }
}